# Ignore node_modules directory
node_modules/

# Ignore build output
build/
dist/
out/

# Ignore environment files
.env

# Ignore any log files
*.log

# Ignore macOS system files
.DS_Store

# Ignore npm-debug.log file
npm-debug.log

# Ignore yarn-error.log file
yarn-error.log

# Ignore IDE/Editor specific files
.idea/
.vscode/

# Ignore local development config files
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Ignore coverage reports
coverage/

# Ignore compiled TypeScript files
*.tsbuildinfo

# Ignore cache and temporary files
.cache/
*.swp

# other files and folders 
notes.txt

loremar.txt